.wheel {
  position: relative;

  line {
    stroke: black;
  }
}

.wheel__foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel__scene {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;

  /*border: 1px solid #AAA;*/
  background-color: #FFF;
  padding: .25em;
  transition: background-color .25s ease, transform .25s ease;
  cursor: pointer;

  &:hover {
    background-color: lightgray;
  }
}

.wheel__scene--is-editing, .wheel__scene--was-editing {
  transition: none;
}
