$red: #ff6188;
$orange: #fc9867;
$yellow: #ffd866;
$green: #a9dc76;
$blue: #78dce8;
$purple: #ab9df2;
$white: #ffedf0;
$fg: $white;
$bg: #191515;
$bg-light: #211b1b;
$bg-lighter: #292323;
$secondary: $bg-lighter;

@import './styles/button';
@import './styles/display';
@import './styles/spacing';
@import './styles/wheel';

body {
  background: $bg;
  color: $fg;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 1rem;
  background-color: $bg-light;
  display: flex;
  align-items: center;
}

.input--title {
  background: none;
  border: none;
  border-bottom: .25rem solid $bg;
  color: $fg;
  font-size: 1.5rem;
  padding: 0 1rem 0 1rem;

  transition: border-bottom-color .25s ease;

  &:focus {
    outline: none;
    border-bottom-color: $red;
  }
}
